html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: auto;
}
body{
    background: #343434;   
}
.header{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 82px;
    padding-right: 112px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
}
button{
    width: 250px;
    outline: none;
    border: none;
    font-size: 18px;
    height: 55px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}
.header_items{
    display: flex;
    align-items: center;
}

.header_items a {
    margin-left: 20px;
    margin-right: 20px;    
    line-height: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.visited{
    color:#FFD600 !important;
}
.visitedhr{
    border: 1px solid #FFD600;
}
.header_items p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    line-height: 0;
}

.hero{
    background: url('././img/image.png');
    padding-top: 67px;
    padding-left: 117px;
    padding-bottom: 84px;
}
.hero_slider{
    flex-direction: column;
}
.hero_slider_el{
    display: flex;
}
.slider_title{
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}
.slider_subtitle{
    width: 341px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 36px;
}
.slider_buttons button:nth-child(1){
    background: #FFD600;
    
    color: #343434;
}
.slider_buttons button:nth-child(2){
    background: #000;
    color: #fff;
}
.slider_change_buttons{
    display: flex;
    margin-top: 43px;
}
.button_change img{
    width: 22px;
}
.button_change{
    width: 78px;
    height: 67px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_change:first-child{
    background: #272727;
}
.button_change:nth-child(2){
    background: #2A2A2A;
}

.hero_slider_dots{
    width: 95%;
    margin-top: 20px;
    display: flex;
    padding-left: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
    background: #343434;
}
.hero_slider_dot{
    text-align: left;
    color:#fff;
    margin-left: 50px;
    cursor:pointer;
}
.hero_slider_dot:first-child{
    margin-left: 0;
}
.hero_slider_dot_title{
    font-weight: bold;
    line-height: 16px;
    font-size: 12px;
}
.hero_slider_dot:nth-child(3) .hero_slider_dot_title{
    margin-bottom: 30px;
}
.hero_slider_dot:nth-child(3){
    margin-left: 0px;
}
.hero_slider_dot_hr{
    width: 50px;
    background: #fff;
    height: 1px;
    margin: 0;
    padding: 0;
    margin-top: 16px;
}
.hero_slider_dot_id{
    font-weight: bold;
    font-size: 12px;
}
.mySlides {display: none}
.leftside, .leftside2{
    position: absolute;
    left: 50px;
    top: 700px;
}
.leftside2{
    display: none;
}
.leftside_word{
    position: absolute;
    transform: rotate(-90deg);
    top: 859px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}
.projects_slider{
    padding-top: 100px;
    padding-bottom: 35px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects_slider_el{
    width: 1000px;
    background: #0094FF;
    display: flex;

}
.projects_slider_el_left{
    width: 50%;
    display: flex;justify-content: center;
    padding-left: 40px;
    flex-direction: column;
}
.all_projects{
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    padding-left: 30px;
}
.project_photo{
    width: 390px;
    height: 420px;
    background: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: underline;
    color:#000;
    font-weight: bold;
    margin-top: 40px;
}

.projects_slider_el_right{
    width: 50%;
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    
}
.project_name{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 100px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.project_desc{
    font-size: 24px;
    text-transform: uppercase;

}
.projects_slider_buttons{
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}
.projects_slider_buttons button{
    margin-bottom: 20px;
    width: 50px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.mySlidesp{
}
.blog{
    padding-left: 270px;
    margin-top: 150px;
    padding-top: 1px;
    background: url(././img/image.png);
    padding-bottom: 8px;
}
.blog_text{
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFD600;
}
.blog_container{
    display: flex;
}
.blog_left{

}
.blog_el{
    background: #343434;
    padding: 14px;
    width: 318px;
    padding-bottom: 0;
    height: 239px;
    margin-bottom: 20px;
}
.blog_el_photo{
    background: #4e4d4d;
    width: 96%;
    height: 118px;
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
.blog_name{
    text-decoration: underline;
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;

}
.blog_read{
    font-size: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #8C8C8C;
}
.blog_center{
    margin-right: 10px;
    margin-left: 25px;
}
.blog_center .blog_el{
    width: 366px;
    height: 502px;
}
.blog_center .blog_el .blog_el_photo{
    width: 318px;
    height: 369px;
}
.blog_right .blog_el {
    width: 260px;
    height: 502px;
}   
.blog_right .blog_el .blog_el_photo{
    width: 212px;
    height: 369px;
}




@media screen and (max-width: 767px){
    .header{
        padding: 0;
        padding-top: 40px;
        flex-direction: column;
       
        justify-content: center;
    }
    
    .header_items{
        justify-content: center;
    }
    .header_items a{
        font-size:1rem;
        margin: 0;
        margin-left:3vw;
        margin-right: 3vw;
    }
    .hero{
        padding: 20px;
    }
    
    .slider_title{
        font-size: 20px;
        width: 295px;
    }
    .slider_subtitle{
        font-size: 16px;
        width: 150px;
    }
    .hero_slider_el_right img{
        width:40vw;
        height: 25vw;
        position: absolute;
        left: 55%;
        top:35vmax;
    }
    
    .hero_slider_dots{
        display: none;
    }
    .slider_buttons{
       
    }
    .slider_buttons button{
        width: 90vw;
        margin-bottom: 8px;
    }   
    .slider_change_buttons{
        justify-content: flex-end;
        margin-top: 14px;
    }
    .project_photo{
        display: none;
    }
    .all_projects{
        display: none;
    }
    .projects_slider{
        flex-direction: column;
    }
    .projects_slider_el_left{
        display: none;
    }
    .projects_slider_el{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 50px;
    }
    .project_name{
        padding-bottom: 10px;
        font-size: 16px;
    }
    .project_desc{
        font-size: 17px;
        padding-bottom: 40px;
    }
    .projects_slider_buttons, .projects_slider_dots {
        display: none;
    }
    .leftside_word{
        font-size: 24px;
    }
    .leftside{
        display: none;
    }
    .leftside2{
        display: block;
        left:30px;
        top: 650px;
    }


    .blog{
        padding-left: 130px;

    }
    .blog_container{
        flex-direction: column;
    }
    .blog_center{
        margin: 0;
    }
    .blog_center .blog_el, .blog_right .blog_el{
        width: 318px;  
        height: 239px;
    } 
    .blog_right .blog_el .blog_el_photo,
    .blog_center .blog_el .blog_el_photo{
        width: 96%;
        height: 118px;
    }
    
}
